:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

body {
  background-color: antiquewhite;
}

canvas {
  margin: 0 auto;
  display: block;
  max-width: 640px;
}
